.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn {
  text-align:center;
  padding-top: 40px;
  
}
.btn1 {
  
  background-color: #4ECCA3;
  padding: 5PX;
  font-weight: 700;
  border: none;
  border-radius: 20PX;
  width: 370PX;
  font-size: 30px;
  font-family: 'Lobster', cursive;
  cursor: pointer;
  letter-spacing: 5px;
  transition: 0.5s;
}
.btn1:hover{
  background-color: aqua;
  width: 470PX;
  cursor: pointer;
  color: black ;
}